<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mchan.authorization.service.authorization.dao.mappers.ApplicationsMapper">
    <resultMap id="ApplicationEntity" type="com.mchan.authorization.service.authorization.dao.entities.ApplicationEntity">
        <id property="applicationId" column="application_id" />
        <result property="profileId" column="profile_id" />
        <result property="appName" column="app_name" />
        <result property="appIcon" column="app_icon" />
        <result property="appHomePage" column="app_home_page" />
        <result property="shortDescription" column="short_description" />
        <result property="redirectUrl" column="redirect_url" />
        <result property="isActive" column="is_active" />
    </resultMap>

    <insert
        id="createApplication"
        parameterType="com.mchan.authorization.service.authorization.dao.entities.ApplicationEntity"
        keyColumn="application_id"
        keyProperty="applicationId"
        useGeneratedKeys="true"
    >
        INSERT INTO auth_db.applications (
            profile_id,
            app_name,
            app_icon,
            app_home_page,
            short_description,
            redirect_url,
            is_active
        ) VALUES (
            #{profileId},
            #{appName},
            #{appIcon},
            #{appHomePage},
            #{shortDescription},
            #{redirectUrl},
            true
        );
    </insert>

    <update id="deactivateApplication">
        UPDATE auth_db.applications
        SET is_active = false
        WHERE
            application_id = #{applicationId}
    </update>

    <select id="getApplication" resultMap="ApplicationEntity">
        SELECT
            application_id,
            profile_id,
            app_name,
            app_icon,
            app_home_page,
            short_description,
            redirect_url,
            is_active
        FROM auth_db.applications
        WHERE
            application_id = #{applicationId}
    </select>

    <update id="updateApplication" parameterType="com.mchan.authorization.service.authorization.dao.entities.ApplicationEntity">
        UPDATE auth_db.applications
        SET
            app_name = #{appName},
            app_icon = #{appIcon},
            app_home_page = #{appHomePage},
            short_description = #{shortDescription},
            redirect_url = #{redirectUrl}
        WHERE
            application_id = #{applicationId}
    </update>
</mapper>
